<div class="container">
  <div class="holder">
    <p class="label">
      Login to your account
    </p>
    <mat-form-field class="input">
      <input matNativeControl type="email" placeholder="Email address" ngModel email/>
    </mat-form-field>
    <mat-form-field class="input">
      <input matNativeControl type="password" placeholder="Password" ngModel/>
    </mat-form-field>
    <button mat-button class="button">
      Login
    </button>
    <mat-divider class="divider"/>
    <button mat-button class="button">
      Continue with Apple
    </button>
    <button mat-button class="button">
      Continue with Facebook
    </button>
    <button mat-button class="button">
      Continue with GitHub
    </button>
    <button mat-button class="button">
      Continue with Google
    </button>
  </div>
</div>
