<p>You can skip entering a password.</p>
<p>If you don't set a password, you can still sign in with just your user name or email address.</p>
<p>When signing in, if you don't enter a password, we send an email to your email address with a link to sign in.</p>
<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <mat-form-field class="input">
    <input matNativeControl type="text" formControlName="displayName" placeholder="Display name"/>
  </mat-form-field>
  <mat-form-field class="input">
    <input matNativeControl type="text" formControlName="userName" placeholder="User name"/>
  </mat-form-field>
  <mat-form-field class="input">
    <input matNativeControl type="email" formControlName="emailAddress" placeholder="Email address"/>
  </mat-form-field>
  <mat-form-field class="input">
    <input matNativeControl type="password" formControlName="password" placeholder="Password"/>
  </mat-form-field>
  <button mat-button class="button" type="submit" [disabled]="!formGroup.valid">
    Register
  </button>
</form>
