<app-container>
  <app-holder [ngSwitch]="code">
    <app-title>
      Oops...
    </app-title>
    <app-label *ngSwitchCase="MESSAGES.REGISTER.CHECK">
      We could not sign you up with those details. Make sure you are using a unique user name and email address.
    </app-label>
    <app-label *ngSwitchCase="MESSAGES.REGISTER.VERIFY">
      We have sent a verification link to you. Check your email. Click the link to complete your sign up.
    </app-label>
    <app-label *ngSwitchCase="MESSAGES.LOGIN.PASSWORD.CHECK">
      We could not sign you in using that username and password combination. Make sure you are typing both of those
      correctly.
    </app-label>
    <app-label *ngSwitchCase="MESSAGES.LOGIN.MAGIC_LOGIN.CHECK">
      We could not sign you in using that username. Make sure you are typing it correctly.
    </app-label>
    <app-label *ngSwitchCase="MESSAGES.LOGIN.MAGIC_LOGIN.CONFIRM">
      We have sent a confirmation link to you. Check your email. Click the link to complete your sign in.
    </app-label>
    <app-label *ngSwitchCase="MESSAGES.LOGIN.MAGIC_LOGIN.RETRY">
      We could not find a token when trying to sign you in with a magic link. Make sure the magic link is correct and
      not too old.
    </app-label>
    <app-label *ngSwitchCase="MESSAGES.GENERAL.NOT_AUTHENTICATED">
      We don't know who you are, so you are not allowed back here.
    </app-label>
    <app-label *ngSwitchCase="MESSAGES.GENERAL.NOT_AUTHORIZED">
      We know who you are, but tou are not allowed back here.
    </app-label>
    <app-label *ngSwitchDefault>
      You have made a wrong turn somewhere.
    </app-label>
    <a mat-button class="button" [routerLink]="'/'">
      Return home
    </a>
  </app-holder>
</app-container>
