<mat-toolbar class="root">
  <a class="brand-name" [routerLink]="'/'">
    <span>{{ title }}</span>
  </a>
  <span class="spacer"></span>
  @if (hasToken) {
    <a class="mat-title-medium user-name" [routerLink]="'/app/manage-profile'">
      {{ session?.displayName }}
    </a>
    <a mat-button class="button" [routerLink]="'/app/logout'">
      <span>Logout</span>
    </a>
  } @else {
    <a mat-button class="button" [routerLink]="'/app/register'">
      <span>Register</span>
    </a>
    <a mat-button class="button" [routerLink]="'/app/login'">
      <span>Login</span>
    </a>
  }
  <button mat-icon-button class="button" aria-label="Manage settings" [routerLink]="'/app/manage-profile'">
    <mat-icon>
      settings
    </mat-icon>
  </button>
  <button mat-icon-button class="button" aria-label="Switch to light mode" (click)="onSwitchTheme()">
    <mat-icon>
      light_mode
    </mat-icon>
  </button>
  @if (hasToken) {
    <button mat-icon-button class="button" aria-label="Reveal menu" [matMenuTriggerFor]="accountMenu">
      <mat-icon>
        more_vert
      </mat-icon>
    </button>
    <mat-menu #accountMenu="matMenu">
      <button mat-menu-item>
        <mat-icon>alternate_email</mat-icon>
        <span>Change email address</span>
      </button>
      <mat-divider/>
      @if (session?.accounts?.local) {
        <button mat-menu-item [routerLink]="'/app/change-password'">
          <mat-icon>password_2</mat-icon>
          <span>Change password</span>
        </button>
        <button mat-menu-item [routerLink]="'/app/unset-password'">
          <mat-icon>password_2_off</mat-icon>
          <span>Unset password</span>
        </button>
      } @else {
        <button mat-menu-item [routerLink]="'/app/set-password'">
          <mat-icon>password_2</mat-icon>
          <span>Set password</span>
        </button>
      }
    </mat-menu>
  } @else {
    <button mat-icon-button class="button" aria-label="Reveal menu">
      <mat-icon>
        more_vert
      </mat-icon>
    </button>
  }
</mat-toolbar>
