<mat-toolbar class="root">
  <a class="brand-name" [routerLink]="'/'">
    <span>{{ title }}</span>
  </a>
  <span class="spacer"></span>
  @if (isAuthenticated) {
    <a mat-button class="button" [routerLink]="'/app/logout'">
      <span>Logout</span>
    </a>
  } @else {
    <a mat-button class="button" [routerLink]="'/app/register'">
      <span>Register</span>
    </a>
    <a mat-button class="button" [routerLink]="'/app/login'">
      <span>Login</span>
    </a>
  }
  <button mat-icon-button class="button" aria-label="Switch to light mode" (click)="onSwitchTheme()">
    <mat-icon>
      light_mode
    </mat-icon>
  </button>
  <button mat-icon-button class="button" aria-label="Manage settings" [routerLink]="'/app/manage-profile'">
    <mat-icon>
      settings
    </mat-icon>
  </button>
  <button mat-icon-button class="button" aria-label="Reveal menu">
    <mat-icon>
      more_vert
    </mat-icon>
  </button>
</mat-toolbar>
