.root {
  padding: 0;
}

.brand-logo {
  padding: 6px 8px;
}

.brand-name {
  text-decoration: none;
  margin: 0 8px;
  padding: 8px;
}

.user-name {
  text-decoration: none;
  font-weight: lighter;
  margin: 0 8px;
  padding: 8px;
}

.spacer {
  flex: 1 1 auto;
}

.button {
  margin: 0 8px 0 0;
}
