<p>You can skip entering your password.</p>
<p>If you don't enter a password, we will send you an email to your email address with a link to sign in.</p>
<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <mat-form-field class="input">
    <input matNativeControl type="text" formControlName="username" placeholder="Username"/>
  </mat-form-field>
  <mat-form-field class="input">
    <input matNativeControl type="password" formControlName="password" placeholder="Password"/>
  </mat-form-field>
  <button mat-button class="button" type="submit" [disabled]="!formGroup.valid">
    Login
  </button>
</form>
