<div class="container">
  <div class="holder" [ngSwitch]="method">
    <p class="label" *ngSwitchCase="'magic-login'">
      Wait please
    </p>
    <p class="label" *ngSwitchCase="'magic-login'">
      Accepting token...
    </p>
    <p class="token" *ngSwitchCase="'magic-login'">
      {{ token }}
    </p>
    <p class="label" *ngSwitchDefault>
      You have made a wrong turn somewhere
    </p>
    <a mat-button class="button" [routerLink]="'/'" *ngSwitchDefault>
      Return home
    </a>
  </div>
</div>
