<app-container>
  <app-holder [ngSwitch]="method">
    <app-title *ngSwitchCase="'magic-login'">
      Wait please
    </app-title>
    <app-label *ngSwitchCase="'magic-login'">
      Accepting token...
    </app-label>
    <app-label class="token" *ngSwitchCase="'magic-login'">
      {{ token }}
    </app-label>
    <app-label *ngSwitchDefault>
      You have made a wrong turn somewhere
    </app-label>
    <a mat-button class="button" [routerLink]="'/'" *ngSwitchDefault>
      Return home
    </a>
  </app-holder>
</app-container>
