<p>You can set a new user name.</p>
<p>If the user name you choose is not available, e.g., it has been chosen by someone else, your changes will not be saved.</p>
<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <mat-form-field class="input">
    <input matNativeControl type="text" formControlName="displayName" placeholder="Display name"/>
  </mat-form-field>
  <mat-form-field class="input">
    <input matNativeControl type="text" formControlName="userName" placeholder="User name"/>
  </mat-form-field>
  <button mat-button class="button" type="submit" [disabled]="!formGroup.valid || !formGroup.dirty">
    Update
  </button>
</form>
